body {
    color: aquamarine;
    background: black;
    font-family: sans-serif;
    text-align: center;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 1rem;
    padding: 0;
    margin-bottom: 5rem;
}

#art h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    background: rgb(255, 0, 0);
    padding: 20px 28px;
    border: 0.2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(75, 73, 73, 0.886);
    text-align: center;
}

#para {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#art {
    width: 3200px;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: o;
}

ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.grid img {
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    object-fit: cover;

}